<article class="content" ng-if="model.Articles.length > 0">
    <div class="bottom-padding bottom-padding-mid load overflow">
        <div class="title-box no-margin">
            <a href="{{model.Url}}"><h2 class="title">{{model.Title}}</h2></a>
        </div>

        <div class="clearfix"></div>

        <div class="row articles" isotope-container="isotope-container">
            <div ng-repeat="article in model.Articles" isotope-item ng-class="getBoxSizeClass(article.BoxSize)">
                <div class="article">
                    <div class="default">
                        <a ng-attr-href="/bai-viet/{{article.SeoTitle}}" class="article-avatar">
                            <img ng-src="{{article.Avatar}}" alt="" title="" width="270" height="270">
                        </a>
                        <div class="article-description">
                            <a ng-attr-href="/bai-viet/{{article.SeoTitle}}" class="title">{{article.Title}}</a>
                            <div class="posted-info"><strong><span class="blurry-text"><i class="fa fa-clock-o"></i></span>&nbsp; {{article.PublishedDate | moment}} &nbsp;-&nbsp; <span class="blurry-text"><i class="fa fa-user"></i></span>&nbsp; {{article.CreatedUserDisplayName}}</strong></div>
                            <div class="description" ng-bind-html="article.Description | html"></div>
                        </div>
                        <div class="social" ng-attr-style="border-top-color: {{article.ArticleCategoryColor}}">
                            <span class="opinion"><span ng-class="article.HighestOpinionBackground">{{article.HighestOpinionText}}</span></span>
                            <a class="fa fa-eye" ng-attr-href="/bai-viet/{{article.SeoTitle}}"><span class="count">{{article.ViewCount}}</span></a>
                            <a class="fa fa-comments" ng-attr-href="/bai-viet/{{article.SeoTitle}}"><span class="count">{{article.CommentCount}}</span></a>
                            <a ng-class="'fa fa-thumb-tack ' + getPinnedClass(article.ArticleId)" href="#" ng-click="pinArticle(article.ArticleId)"></a>
                        </div>
                    </div>
                </div><!-- .article -->
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="load-more-wrapper" ng-if="model.Articles.length >= model.skip + model.take">
            <button ladda="model.loadMoreLoading" ng-click="model.loadMore()" data-style="zoom-out" class="btn load-more unclicked">
                Xem thêm
            </button>
        </div>
    </div><!-- .carousel-box -->
</article>