/* jssor slider thumbnail navigator skin 04 css */
/*
                        .jssort04 .p            (normal)
                        .jssort04 .p:hover      (normal mouseover)
                        .jssort04 .pav          (active)
                        .jssort04 .pav:hover    (active mouseover)
                        .jssort04 .pdn          (mousedown)
                        */
.jssort04 .w, .jssort04 .pav:hover .w {
    position: absolute;
    width: 60px;
    height: 30px;
    border: #0099FF 1px solid;
}

* html .jssort04 .w {
    width: /**/ 62px;
    height: /**/ 32px;
}

.jssort04 .pdn .w, .jssort04 .pav .w {
    border-style: solid;
}

.jssort04 .c {
    width: 62px;
    height: 32px;
    filter: alpha(opacity=45);
    opacity: .45;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}

.jssort04 .p:hover .c, .jssort04 .pav .c {
    filter: alpha(opacity=0);
    opacity: 0;
}

.jssort04 .p:hover .c {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
/* jssor slider arrow navigator skin 07 css */
/*
                    .jssora07l              (normal)
                    .jssora07r              (normal)
                    .jssora07l:hover        (normal mouseover)
                    .jssora07r:hover        (normal mouseover)
                    .jssora07ldn            (mousedown)
                    .jssora07rdn            (mousedown)
                    */
.jssora07l, .jssora07r, .jssora07ldn, .jssora07rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a07.png) no-repeat;
    overflow: hidden;
}

.jssora07l {
    background-position: -5px -35px;
}

.jssora07r {
    background-position: -65px -35px;
}

.jssora07l:hover {
    background-position: -125px -35px;
}

.jssora07r:hover {
    background-position: -185px -35px;
}

.jssora07ldn {
    background-position: -245px -35px;
}

.jssora07rdn {
    background-position: -305px -35px;
}
/* jssor slider arrow navigator skin 05 css */
/*
            .jssora05l              (normal)
            .jssora05r              (normal)
            .jssora05l:hover        (normal mouseover)
            .jssora05r:hover        (normal mouseover)
            .jssora05ldn            (mousedown)
            .jssora05rdn            (mousedown)
            */
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.jssora05l {
    background-position: -10px -40px;
}

.jssora05r {
    background-position: -70px -40px;
}

.jssora05l:hover {
    background-position: -130px -40px;
}

.jssora05r:hover {
    background-position: -190px -40px;
}

.jssora05ldn {
    background-position: -250px -40px;
}

.jssora05rdn {
    background-position: -310px -40px;
}
/* jssor slider thumbnail navigator skin 01 css */
/*
                .jssort01 .p           (normal)
                .jssort01 .p:hover     (normal mouseover)
                .jssort01 .pav           (active)
                .jssort01 .pav:hover     (active mouseover)
                .jssort01 .pdn           (mousedown)
                */
.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    border-width: 0px;
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    border: #000 2px solid;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    border: #000 2px solid;
}
