
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/BO/Views/Shared/_Layout.cshtml";
}

<style>
   

   
</style>         

<section id="main">
    <div class="container">
        <div class="content">
            <form role="form" method="POST" action="">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="thumbnail" id="avatar">
                            <img data-src="holder.js/100%x300" alt="100%x300" id="imgAvatar" src="" />
                        </a>
                        <input type="hidden" name="Avatar" value="" />
                    </div>

                    <div class="col-xs-6 col-md-9">

                        <div class="form-group">
                            <label for="lbDeviceName">Device Name</label>
                            <input type="text" class="form-control" id="txtDeviceName" name="deviceName" placeholder="Device Name" />
                        </div>

                        <div class="form-group">
                            <label for="lbBrand">Brand</label>
                            <input class="form-control" id="txtBrand" name="Brand" placeholder="Brand"/>
                        </div>

                        <div class="form-group">
                            <label for="lbDescription">Description</label>
                            <textarea class="form-control" id="txtDescription" name="Description" placeholder="Description"></textarea>
                        </div>

                    </div>
                </div>

                @*<div class="row">
                    <div class="form-group">
                        <label for="lbSpecifications">Specifications</label>
                        <div id="specGrid"></div>
                    </div>
                    
                </div>*@
                <div class="row">
                    
                    <div class="spec" id="specGrid">

                    </div>
                </div>

                
                @*<form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>*@
                    


    <script>
        $(document).ready(function () {

            //$.ajax({
            //    url: '/SpecBO/GetSpecs',
            //    success: function (data) {
            //        for (i = 0; i < data.length; i++) {
            //            $(spec).append('<h2 id="spec' + data[i].SpecId + ' ' +
            //            '" >' + data[i].SpecName + '</h2>');
            //        }
            //    },
            //    statuscode: {
            //        404: function (content) { alert('cannot find resource'); },
            //        500: function (content) { alert('internal server error'); }
            //    },
            //    error: function (req, status, errorobj) {
            //        // handle status === "timeout"
            //        // handle other errors
            //    }
            //});


            var deviceBOUrl = "/DeviceBO",
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: deviceBOUrl + "/GetSpecs",
                        dataType: "json"
                    },
                    update: {
                        url: deviceBOUrl + "/Update",
                        dataType: "json",
                        type: "POST"
                    },
                    destroy: {
                        url: deviceBOUrl + "/Destroy",
                        dataType: "json",
                        type: "POST"
                    },
                    create: {
                        url: deviceBOUrl + "/Create",
                        dataType: "json",
                        type: "POST"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                group: {
                    field: "SpecGroupName",
                    dir: "asc"
                },
                schema: {
                    model: {
                        id: "SpecId",
                        fields: {
                            SpecId: { editable: false, defaultValue: 0 },
                            SpecName: { validation: { required: true } },
                            Priority: { type: "number" },
                            IsMain: { type: "boolean" },
                            HightLight: { type: "boolean" },
                            SpecGroupId: { type: "number" },
                            SpecGroupName: { }
                        }
                    }
                }
            });

            $("#specGrid").kendoGrid({
                dataSource: dataSource,
                navigatable: true,
                pageable: true,
                height: 550,
                toolbar: ["create", "save", "cancel"],
                columns: [
                    { field: "SpecName", title: "SpecName", width: 70, editable: false },
                    { field: "Value", title: "Value", width: 120 },
                    { field: "HighLight", title: "HighLight", width: 70 },
                    { command: "destroy", title: "&nbsp;", width: 100 }],
                editable: true
            });
                            $("#txtBrand").kendoDropDownList({
                                optionLabel: "Select Brand",
                                dataTextField: "BrandName",
                                dataValueField: "BrandId",
                                dataSource: {
                                    transport: {
                                        read: {
                                            dataType: "json",
                                            url: "../BrandBO/GetBrands",
                                        }
                                    }
                                }
                            });
                        });

                        function specDropDownEditor(container, options) {
                            $('<input required data-text-field="SpecName" data-value-field="SpecId" />')
                                .appendTo(container)
                                .kendoDropDownList({
                                    optionLabel: "Select spec...",
                                    autoBind: false,
                                    dataTextField: "SpecName",
                                    dataValueField: "SpecId",
                                    dataSource: {
                                        transport: {
                                            read: {
                                                url: "/SpecBO/GetSpecs",
                                                dataType: "json"
                                            }
                                        }
                                    }
                                });
                        }
                    </script>

</form>
        </div><!-- .content -->
    </div>
</section>

