
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BO/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "ArticleBO")">BO</a> </li>
            <li class="active">Brand</li>
        </ul>
    </div>
</div>

