
@{
    ViewBag.Title = "UnderConstruction";
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Website Template designed by www.downloadwebsitetemplates.co.uk -->
    <meta charset="UTF-8">
    <title>iFind.vn - A tech site is coming soon!</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/UIFramework/UnderConstruction/images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/UIFramework/UnderConstruction/images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/UIFramework/UnderConstruction/images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="~/UIFramework/UnderConstruction/images/ico/apple-touch-icon-57.png">
    <link rel="shortcut icon" href="~/UIFramework/Progressive/img/favicon.ico">
    <!--[if IE]><![endif]-->
    <link rel="stylesheet" href="~/UIFramework/UnderConstruction/css/style.css">
    <script src="~/UIFramework/UnderConstruction/js/jquery.js"></script>
    <script src="~/UIFramework/UnderConstruction/js/countdown.js"></script>
    <script src="~/UIFramework/UnderConstruction/js/owlcarousel.js"></script>
    <script src="~/UIFramework/UnderConstruction/js/uikit.scrollspy.js"></script>
    <script src="~/UIFramework/UnderConstruction/js/scripts.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body id="backtotop">
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

            <img src="~/UIFramework/Progressive/img/logo-alpha.png" width="200"/>
            <h1><span>A Tech Site</span><br />is coming soon</h1>
            <p>It's almost ready ... honest</p>

        </div>
    </div>
    <div class="arrow-separator arrow-white"></div>
    <div class="fullwidth colour1 clearfix">
        <div id="countdown" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
            <div id="countdowncont" class="clearfix">
                <ul id="countscript">
                    <li>
                        <span class="days">00</span>
                        <p>Days</p>
                    </li>
                    <li>
                        <span class="hours">00</span>
                        <p>Hours</p>
                    </li>
                    <li class="clearbox">
                        <span class="minutes">00</span>
                        <p>Minutes</p>
                    </li>
                    <li>
                        <span class="seconds">00</span>
                        <p>Seconds</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="arrow-separator arrow-theme"></div>
    <div class="fullwidth colour2 clearfix">
        <div id="maincont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
            <p><strong>Why</strong> do we think <strong>iFind</strong> will be the ultimate source for information related to mobile device in Vietnam? <strong>Because</strong> there is no other Vietnamese site to offer you as many features, articles, so you can easily navigate through the mobile device jungle. Follow <a href="http://ifind.vn"><strong>iFind</strong></a> now! </p>
            <h2>Sign up and we'll let you know when we launch</h2>
            <p>If you would like to receive <strong>news and special offers</strong> please send us your email address below:</p>
            <div id="signupform" class="sb-search clearfix">
                <form method="post" id="contact" class="clearfix">
                    <input class="sb-search-input" placeholder="Enter email ..." type="text" value="">
                    <input class="sb-search-submit" value="" type="submit">
                    <button class="formbutton" type="submit"><span class="fa fa-search"></span></button>
                </form>
            </div>

        </div>
    </div>
    <div class="arrow-separator arrow-themelight"></div>
    <div class="fullwidth colour3 clearfix">
        <div id="quotecont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
            <div id="commentslider" class="owl-carousel">
                <div class="item">
                    <p>"Nothing is <em><strong>greater</strong></em> than living with the <strong>passion</strong> and nothing is <em><strong>failure</strong></em> than abandon <strong>aspirations</strong>."</p>
                    <p class="author">- Troy Lee (iFind Co-Founder)</p>
                </div>
                <div class="item">
                    <p>"<strong>Think big</strong> and don’t listen to people who tell you it can’t be done. Life’s too short to <strong>think small</strong>."</p>
                    <p class="author">- Vo Tran Nhat Minh (iFind Co-Founder)</p>
                </div>
                <div class="item">
                    <p>"The <strong>biggest regret</strong> in your life will not the things you <em><strong>had done</strong></em>, but the things you <strong>didn't do</strong>."</p>
                    <p class="author">- Daniel Nguyen (iFind Co-Founder)</p>
                </div>
            </div>

        </div>
    </div>
    <div class="arrow-separator arrow-grey"></div>
    <div class="fullwidth clearfix">
        <div id="footercont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
            <p class="backtotop"><a title="" href="#backtotop"><span class="fa fa-angle-double-up"></span></a></p>
            <div id="socialmedia" class="clearfix">
                <ul>
                    <li><a title="" href="https://www.facebook.com/ifind.vn" rel="external"><span class="fa fa-facebook"></span></a></li>
                    <li><a title="" href="#" rel="external"><span class="fa fa-twitter"></span></a></li>
                    <li><a title="" href="#" rel="external"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>


