@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BO/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "ArticleBO")">BO</a> </li>
            <li class="active">Spec Group</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<section id="main">
    <div class="container">
        <div class="content">
            <div class="row">
                <div id="specGroupGrid"></div>
            </div>
        </div><!-- .content -->
    </div>
</section><!-- #main -->
<script>
    $(document).ready(function () {
        var specGroupUrl = "/SpecGroupBO",
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: specGroupUrl + "/GetSpecGroups",
                        dataType: "json"
                    },
                    update: {
                        url: specGroupUrl + "/Update",
                        dataType: "json",
                        type: "POST"
                    },
                    destroy: {
                        url: specGroupUrl + "/Destroy",
                        dataType: "json",
                        type: "POST"
                    },
                    create: {
                        url: specGroupUrl + "/Create",
                        dataType: "json",
                        type: "POST"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "SpecGroupId",
                        fields: {
                            SpecGroupId: { editable: false, defaultValue: 0 },
                            SpecGroupName: { validation: { required: true } },
                            Priority: { type: "number" }
                        }
                    }
                }
            });

        $("#specGroupGrid").kendoGrid({
            dataSource: dataSource,
            navigatable: true,
            pageable: true,
            height: 550,
            toolbar: ["create", "save", "cancel"],
            columns: [
                { field: "SpecGroupId", title: "Id", width: 50 },
                { field: "SpecGroupName", title: "SpecGroupName", width: 120 },
                { field: "Priority", title: "Priority", width: 70 },
                { command: "destroy", title: "&nbsp;", width: 100 }],
            editable: true
        });
    });
</script>


